
    <nav class="navbar navbar-dark bg-dark mb-4">
 <div class="container">
     
            <a href="/" class="navbar-brand">Crud Nodejs and Mongodb</a>
            <a href="/about">Abaut</a>
            
        </div>
    </nav><!-- nav-dark coloca texto blanco en el navegador-->
       